[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/pib/ooRaspi.py

[Install]
WantedBy=multi-user.target